* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
}

.login-form-container {
  background-color: #333;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 380px;
  color: white;
  position: relative;
}

.avatar-container {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.avatar-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-icon {
  width: 50px;
  height: 50px;
}

form {
  width: 100%;
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: normal;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;
  color: #333;
  font-size: 1.2rem;
  z-index: 1;
}

.input-with-icon input {
  padding-left: 2.5rem;
}

input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 1em;
  background-color: white;
  color: #333;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  padding: 1rem;
  background-color: #5533FF;
  color: white;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #4422ee;
}
